<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.13.1" targetFramework="net452" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net452" />
</packages>